article img {
    width: 100%;
    height: auto;
}

article figure {
    margin: 0;
}

article iframe {
    width: calc(100% - 0.5rem);
    height: auto;
}

.entry-summary img {
    display: none;
}

.entry-summary-container {
    height: 55% !important;
    font-size: 14px !important;
}

.entry-title-container {
    /* height: 45% !important; */
}

.entry-summary {
    height: 100%;
    overflow: hidden;
}

.entry-card {
    height: 150px;
    display: flex;
    align-items: center;
}

.entry-card-parent {
    height: 170px !important;
    flex: 0 0 33.33% !important;
}

.article-text-container {
    overflow: hidden;
    height: 95%;
    display: flex;
    flex-direction: column;
    padding: 20px !important;
}

.article-row-container{
    height: 100%;
    width: 100%;
}

.source-favicon {
    height: 25px;
    width: 25px;
}

.source-favicon-container {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-left: -1px;
}

.article-source-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #252525;
    border-radius: 7px;
    width: fit-content;
    padding-right: 10px;
    font-size: 12px;
    height: 25px;
}

.entry-title-text{
    font-size: 16px;
}