article img {
    width: 100%;
    height: auto;
}

article figure {
    margin: 0;
}

article iframe {
    width: calc(100% - 0.5rem);
    height: auto;
}

.entry-summary img {
    display: none;
}

.article-text-container {
    overflow: hidden;
    height: 190px;
}
.article-row-container{
    height: 100%;
}